.close-btn {
  color: maroon !important;
  float: right;
  opacity: 0.5;
  &:hover {
    opacity: 1 !important;
  }
}

.list-group-item {
  margin-top: 10px;
}

.address-text {
  width: 90%;
  display: inline-block;
}
