.left-side {
  width: 45%;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}
.App {
  height: inherit;
}
.right-side {
  float: right;
  width: 50%;
  height: 97%;
}

.input-group-prepend {
  padding: 10px;
  color: darkred;
  border: 1px solid #ced4da;
  background-color: #FAFAFA;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
